.wrapper {
    border: solid 1px grey;
    width: 768px;}
    .wrapper .header {
        border-bottom: solid 1px grey;}
        
    .wrapper .footer {
        height: 70px;
        margin-left: 15px;
        border-top: solid 1px grey;}
        .footer>div {
            float: left;}
        .footer .footer-center {
            padding-top: 10px;
            margin-left:71px;}
            .footer .footer-center.mode-1 {
                width: 620px;}
            .footer .footer-center-switcher.mode-2 {
                margin-left: 70px;
                height: 69px;
                border-right: solid 1px grey;
                padding-top: 20px;
                width: 310px;}
                .footer .footer-center-switcher.mode-2 > div {
                    padding: 0 32px;
                    float: left;}
                    .footer .footer-center-switcher.mode-2 > div select {
                        font-size: 18px;
                        padding: 3px 0;}
            .footer .footer-center-socials.mode-2 {
                width: 310px;
                margin-top: 10px;}
                .footer .footer-center-socials.mode-2 .social-icons-container {
                    margin-left: 60px;}
        .footer .statistics-container,
        .footer .niche-statistics-container,
        .tracking-titles-statistics-container {
            height: 70px;
            margin-left: 70px;
            width: 310px;
            border-right: solid 1px grey;}
            .footer .statistics-container > div:first-child {
                float: left;
                height: 70px;
                width: 145px;
                border-right: solid 1px grey;
                padding-left: 10px;}
            .footer .statistics-container > div:nth-child(2) {
                width: 155px;
                float: left;
                padding-left: 10px;}
            .footer .statistics-container h4,
            .footer .statistics-container h5,
            .footer .niche-statistics-container h4,
            .footer .niche-statistics-container h5,
            .tracking-titles-statistics-container h4,
            .tracking-titles-statistics-container h5 {
                text-align: center;}
        .footer .mode-1 .social-icons-container {
            margin-left: 215px;}
            .footer .social-icons-container img {
                height: 33px;
                margin: 0 15px;}
   
        .wrapper .help-container {
        position: absolute;
        right: 4px;
        height: 70px;
        border-left: solid 1px grey;
        padding-left: 4px;}
        .wrapper .help-container span {
            height: 62px;
            font-size: 42px;
            padding-top: 3px;}

        .wrapper .content {
            height: 350px;
            overflow-y: auto;}

    .wrapper #lading-mask {
        top: 145px;
        /* margin-left: 15px; */
        z-index: 99;
        position: fixed;
        width: 100%;
         height: 350px; 
        background: rgba(255,255,255, 0.7);}
        .wrapper #lading-mask img {
            width: 100px;
            margin: 105px 0 0 330px;}
    .user-info-container {
        width:90px;
        float: left;
        border-right:solid 1px grey;
        height:85px;}
        .user-info-container > div {
            clear: both;}
            .user-info-container > div i {
                cursor: pointer;
                color: #333;
                margin: 5px 0 0 39px;}
            .user-info-container > div h5 {
                color: #333;
                margin:0;
                text-align:center;}
    .results-header-center-container {
        height: 85px;
        width: 590px;
        float: left;
        border-right: solid 1px grey;}
    .results-header-right-container {
        width: 86px;
        float: left;
        height: 85px;}
        .results-header-right-container > div {
            clear: both;}
            .results-header-right-container > div i {
                cursor: pointer;
                margin: 5px 0 0 39px;}
            .results-header-right-container > div select {
                margin: 4px 0 0 20px;}
            .results-header-right-container > div h5 {
                margin:0;
                text-align:center;}
#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 240px;}

#resutls-average-table th,
#resutls-average-table td {
    text-align: center;}

table th {
    text-align: center;
    cursor: pointer;}
table#tbl-items td {
    vertical-align: middle;}
    table td a.track-link {
        cursor: pointer;}
    table#tbl-items td img.property-img {
        width: 72px;}
    table#tbl-items tbody tr td:nth-child(2) {
        text-align: center;}
    table#tbl-items tbody tr td:last-child {
        text-align: center;}
    table tbody tr.tracking {
        background: orange !important;}
        table tbody tr.tracking a {}
    table#results-table tbody tr a {
        cursor: pointer;}

#track #product-image {
    margin-left: 22px;
    width: 180px;
    height: 275px;}
    #track .track-header {
        border-bottom: solid 1px grey;
        height: 70px;}
        #track .track-header > div:first-child {
            padding-top: 10px;
            border-right: solid 1px grey;
            width: 680px;
            height: 70px;
            float: left;}
            #track .track-header > div:first-child div {
                text-align: center;
                width: 100%;}
        #track .track-header > div:nth-child(2) {
            padding-top: 10px;
            text-align: center;
            width: 86px;
            float: left;}
    #track .track-content {
        padding-top: 15px;
        height: 397px;}
        #track .track-content #product-track {
            width: 154px;
            margin: 5px 0 0 35px;
            margin-top: 10px;}
            #track table td {
                text-align: center;}

.logout {
    cursor: pointer;}
    .logout i {
        margin-left: 5px;}

#results .switcher {
    /* top: 60px;
    position: fixed;
    width: 100%; */
    background: rgba(255,255,255,0.8);}

a.main-nav-link {
    padding-left:5px;
    cursor:pointer;}

#tracking-products {
    padding: 0 15px;}
    #tracking-products table a {
        cursor: pointer;}

table a {
    cursor: pointer;}

#niche-hunters {
    padding: 0 15px;}
    #niche-hunters > div:first-child {
        height: 75px;
        border-left: solid 1px grey;
        border-right: solid 1px grey;
        border-bottom: solid 1px grey;
        margin-bottom: 5px;}