.wrapper {
    border: solid 1px grey;
    width: 768px;}
    .wrapper .header {
        border-bottom: solid 1px grey;}
    .wrapper .footer {
        height: 70px;
        margin-left: 15px;
        border-top: solid 1px grey;}
        .footer>div {
            float: left;
            border-right: solid 1px grey;}
            .footer>div:last-child {
                border-right: none;}
    .wrapper .help-container {
        position: absolute;
        right: 4px;
        height: 70px;
        border-left: solid 1px grey;
        padding-left: 4px;}
        .wrapper .help-container span {
            height: 62px;
            font-size: 42px;
            padding-top: 3px;}

#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 240px;}

table#results-table th {
    cursor: pointer;}
table#tbl-items td {
    vertical-align: middle;}
    table td a.track-link {
        cursor: pointer;}
    table#tbl-items td img.property-img {
        width: 72px;}
    table#tbl-items tbody tr td:nth-child(2) {
        text-align: center;}
    table#tbl-items tbody tr td:last-child {
        text-align: center;}
    table#results-table tbody tr.tracking {
        background: green;}
        table#results-table tbody tr.tracking a {
            color: black;}
    table#results-table tbody tr a {
        cursor: pointer;}

#track #product-image {
    width: 100%;
    height: 327px;}

.logout {
    cursor: pointer;}
    .logout i {
        margin-left: 5px;}

#results .switcher {
    /* top: 60px;
    position: fixed;
    width: 100%; */
    background: rgba(255,255,255,0.8);}
#results .content {
    /* margin-top: 60px; */
}
span.main-nav-link {
    padding-left:5px;
    cursor:pointer;}